doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='styles.css')
    title Главная
  body
    section.diagramms
      div
        h2 Диаграммы
        .diag_block
          div(style='height:50px;background:blue;')
          div(style='height:150px;background:red;')
          div(style='height:100px;background:green;')
        .diag_block
          div(style='height:200px;background:blue;')
          div(style='height:20px;background:red;')
          div(style='height:50px;background:green;')
        .diag_block
          div(style='height:300px;background:blue;')
          div(style='height:100px;background:red;')
          div(style='height:250px;background:green;')
    section.blocks
      section.users
        h3 Пользователи
        div
          img(src='images/profile-icon.svg')
          div
            p Марков Михаил Артёмович
            p xekofaretroi-3385@yopmail.com
        div
          img(src='images/profile-icon.svg')
          div
            p Позднякова Юлия Демидовна
            p hasiquicagroi-9428@yopmail.com
        div
          img(src='images/profile-icon.svg')
          div
            p Корнеев Никита Кириллович
            p touttagrugeppi-3606@yopmail.com
        div
          img(src='images/profile-icon.svg')
          div
            p Филатова Майя Ярославовна
            p jeifrobroucrequou-4196@yopmail.com
        div
          img(src='images/profile-icon.svg')
          div
            p Борисова Айлин Матвеевна
            p bejepposoude-8626@yopmail.com
        div
          img(src='images/profile-icon.svg')
          div
            p Комиссаров Алексей Ильич
            p fraummozatiku-2719@yopmail.com
      section.data
        h3 Данные
        table
          tbody
            tr
              th Товар
              th Цена
              th Количество
            tr
              td Зерна бразилия серрадо
              td 500р.
              td 10
            tr
              td Эспрессо
              td 40р.
              td 30
            tr
              td Капучино
              td 70р.
              td 25
            tr
              td Зерна бразилия лагонья
              td 800р.
              td 5
            tr
              td Зерна суматра пилихан
              td 600р.
              td 20
