doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='styles.css')
    title Продукт
  body
    .product-container
      .product-card
        h1 Зерна бразилия серрадо
      p.product-description
        | Плотный кофе с нотами жареных орехов, шоколада и карамели.
        br
        br
        |             Бразилия Серрадо — один из базовых сортов под эспрессо в нашем ассортименте и отличная альтернатива второму сорту из коммерческого сегмента Бразилии — Можиане. Отличается он еще более сбалансированным вкусом без лишней кислотности, а также чуть более доступной ценой.
        br
        br
        |             Серрадо — один из трех основных кофепроизводящих регионов Бразилии наряду с Суль-де-Минас и Можиана. Этот регион известен своими плоскими равнинами, средней высотой произрастания от 800 до 1100 метров над уровнем моря, а еще тем, что почвы здесь обогащают органическими удобрениями.
