doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='styles.css')
    title Продукция
  body
    section.products
      h1 Продукция
      .product
        .image.bag
        .text-container
          p.title Зерна бразилия серрадо
          p.price Цена: 500р.
          a(href='product') Подробнее
      .product
        .image.cup
        .text-container
          p.title Эспрессо
          p.price Цена: 40р.
          a(href='product') Подробнее
      .product
        .image.cup
        .text-container
          p.title Капучино
          p.price Цена: 70р.
          a(href='product') Подробнее
      .product
        .image.bag
        .text-container
          p.title Зерна бразилия лагонья
          p.price Цена: 800р.
          a(href='product') Подробнее
      .product
        .image.bag
        .text-container
          p.title Зерна суматра пилихан
          p.price Цена: 600р.
          a(href='product') Подробнее
