doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='styles.css')
    title Coffee-brand
  body
    section.main
      a(href='main')
        h1 Coffee-brand
      h2 Позвольте Coffee-brand украсить ваш завтрак
      p Самые качественные поставки кофе из бразилии
      .auth-ident
        a.button(href='login') Войти
        a.button(href='registration') Зарегистрироваться
    section.cool-story
      h2 Откройте лучший кофе
      p
        | Coffee-brand — это кофейня, предлагающая качественный кофе,
        | который помогает повысить продуктивность и поднять
        | настроение. Выпить чашку кофе хорошо, но выпить чашку
        | настоящего кофе еще лучше. Нет сомнений, что этот кофе
        | понравится вам больше, чем другие, которые вы когда-либо
        | пробовали.
      a.button(href='products') Посмотреть ассортимент
    footer
      a(href='main')
        h1 Coffee-brand
